<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936881835648-ve72s9t0qo8cmkfvsojj0op83ncmi0eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936881835648-ve72s9t0qo8cmkfvsojj0op83ncmi0eu</string>
	<key>API_KEY</key>
	<string>AIzaSyDAq2dARhxpdPjVbEkgeliB_rM60y31UqU</string>
	<key>GCM_SENDER_ID</key>
	<string>936881835648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.nativeProject</string>
	<key>PROJECT_ID</key>
	<string>react-native-4a4cd</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-4a4cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936881835648:ios:2b60b2cee8993b65172065</string>
</dict>
</plist>